body {
  margin: 0;
  padding: 0;
  background: #0E1218;
  color: rgb(201, 209, 217);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#root > main {
  flex: 1;
  display: flex;
}

#root > main > article {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

textarea {
  flex: 1;
  resize: none;
  background: #090E14;
  border: solid 1px #21272C;
  border-radius: 10px;
  outline: none;
  color: rgb(201, 209, 217);
  padding: 15px;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 6px 13px;
  border: solid 1px rgb(59, 67, 75);
  text-align: left;
  line-break: anywhere;
}

tr:nth-child(2n) {
  background: #161C23;
}

#root > aside {
 padding: 20px;
}

.tag {
  padding: 4px 7px;
  border-radius: 4px;
  margin-right: 5px;
  background: #161C23;
  display: inline-block;
}

.tag.string {
  background: #113054;
  color: #6292da;
}

.tag.number {
  background: #22420a;
  color: #77a739;
}

.tag.object {
  background: #451769;
  color: #bf5aa5;
}

.tag.array {
  background: #522f04;
  color: #c79165;
}

.tag.boolean {
  background: #1c3e42;
  color: #65b9c7;
}

.tag.null {
  background: #1c4222;
  color: #aac765;
}

.tag.date {
  background: #451769;
  color: #bf5aa5;
}

.string-output {
  font-size: 20px;
}

.big-output {
  font-size: 30px;
}
